<form action="/pirates" method="POST"A>
	<p>Pirate Name</p><input type="text" name="pirate[name]">
	<p>Pirate Weight</p><input type="text" name="pirate[weight]">
	<p>Pirate Height</p><input type="text" name="pirate[height]">
	<p>Ship One Name</p><input type="text" name="pirate[ships][][name]" id="ship_name_1">
	<p>Ship 1 Type</p><input type="text" name="pirate[ships][][type]" id="ship_type_1">
	<p>Ship 1 Booty</p><input type="text" name="pirate[ships][][booty]" id="ship_booty_1">
	<p>Ship Two Name</p><input type="text" name="pirate[ships][][name]" id="ship_name_2">
	<p>Ship 2 Type</p><input type="text" name="pirate[ships][][type]" id="ship_type_2">
	<p>Ship 2 Booty</p><input type="text" name="pirate[ships][][booty]" id="ship_booty_2">
	<input type="submit" value="Submit">
</form>